﻿<!-- expect controller as mappc-->
<div>
    <form class="form-inline" style="padding-top: 4px">
        <div class="form-group">
            <div>
                <label for="zoomer">Zoom to:</label>

                <select class="form-control" id="zoomer"
                        ng-model="mappc.selectedBox"
                        ng-options="boxOption.name for boxOption in mappc.boxOptions"></select>
            </div>
        </div>
        <div class="form-group">
            <div>
                <label for="chkcluster">Cluster:</label>

                <input type="checkbox" class="form-control" id="chkcluster"
                      ng-model="mappc.cluster"/>

            </div>
        </div>
    </form>
</div>