﻿<!-- expects controller as mappc-->
<h4>Manipulate Map <i class="fa fa-question-circle"><md-tooltip md-direction="top">Manipulate how the map is display (e.g. zoom to a specific region, cluster data)</md-tooltip></i></h4>

<md-input-container class="md-block" flex-gt-sm>
  <label>Zoom to:</label>
  <md-select ng-model="mappc.selectedBox">
    <md-option ng-value="boxOption" ng-repeat="boxOption in mappc.boxOptions">{{boxOption.name}}</md-option>
  </md-select>
</md-input-container>

<md-input-container class="md-block" flex-gt-sm>
  <md-checkbox ng-model="mappc.cluster">Cluster</md-checkbox>
</md-input-container>
