﻿<h4>Change Columns Set <i class="fa fa-question-circle"><md-tooltip md-direction="top">Change which sets of logical groups of columns to display in the grid</md-tooltip></i></h4>
<form>
  <md-select id="viewMode" ng-model="vm.viewMode">
    <md-option ng-repeat="key in vm.supportedViewModes()" ng-value="key">
      {{key}}
    </md-option>
  </md-select>
</form>
