﻿@*
  Confirmation to proess upload of Ndoe data
    uses MaterialLayoutDialog
*@

@section icon {
  <i class="fa fa-question-circle"></i>
}

@section title {
  Report Parameters
}
@section tools {
}
@* body *@
@* add tab-pane class to get the labels and inputs to look like elsewhere *@
<div style="padding:5px" class="tab-pane">
  <form name="dvm.modelForm" class="form-horizontal">
    @* iterate over the inputs -- see the jasper documentation at  https://community.jaspersoft.com/documentation/jasperreports-server-web-services-guide/v56/listing-input-control-structure *@
    <div ng-repeat="ic in dvm.inputInfo.inputControl">
      <md-toolip>{{ic.Description}}</md-toolip>
      <div class="form-group" ng-show="ic.visible">
        <label class="control-label col-sm-4">{{ic.label}}</label>
        <div class="col-sm-8">
          <input type=number ng-if="ic.type==='singleValueNumber'" class="form-control"
                 ng-model="dvm.instanceInfo.parameters[ic.id]" ng-required="ic.mandatory" ng-disabled="ic.readOnly" ng-show="ic.visible" />
          <input ng-if="ic.type==='singleValueText'" class="form-control"
                 ng-model="dvm.instanceInfo.parameters[ic.id]" ng-required="ic.mandatory" ng-disabled="ic.readOnly" ng-show="ic.visible" />
          <select ng-if="ic.type==='singleSelect'" class="form-control"
                  ng-model="dvm.instanceInfo.parameters[ic.id]" ng-required="ic.mandatory" ng-disabled="ic.readOnly" ng-show="ic.visible">
            <option value=""></option>
            <option ng-repeat="option in ic.state.options" value="{{option.value}}">{{option.label}}</option>
          </select>
        </div>
      </div>
    </div>
  </form>
</div>
@section actions {
  <div>
    <button type="button" class="btn btn-success btn-s" ng-click="dvm.returnSuccess()" >
      <span class="fa fa-play-circle"></span> Run Report
    </button>
    <button type="button" class="btn btn-warning btn-s" ng-click="dvm.returnFail()" >
      <span class="fa fa-stop-circle"></span> Cancel
    </button>
  </div>
}
