﻿@*
  Upload a teacher link
*@

@section icon {
  <i class="fa fa-camera"></i>
}

@section title {
  {{dvm.teacher.tPayroll}} {{dvm.teacher.tFullName}} <span style="padding-left:30px"><component-thumbnail document="dvm.teacher.tPhoto" height="30"></component-thumbnail></span>
}

@section tools {
}
<div style="padding:5px">
  <div class="row" style="padding:5px">

    
  </div>

  @* no file selected - display means to select *@
  <div class="row" ng-show="dvm.uploader.queue.length == 0">

    <div ng-show="dvm.uploader.isHTML5">

      <!-- Example: nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}" -->
      <div nv-file-drop="" uploader="dvm.uploader">
        <div nv-file-over="" uploader="dvm.uploader"
             over-class="another-file-over-class" class="well my-drop-zone" style="height: 100px">
          Drop file here to load...
        </div>
      </div>
    </div>
    <label for="inputFile">
      <span ng-show="dvm.uploader.isHTML5"> ... or click to select file... </span>
      <span ng-show="!dvm.uploader.isHTML5"> Click to select file to upload ... </span>
    </label>
    <input type="file" name="inputFile" id="inputFile" nv-file-select="" uploader="dvm.uploader" ng-show="false" /><br />

  </div>
  @* file selected - processing options*@
  <div class="row" style="margin-bottom: 40px" ng-show="dvm.uploader.queue.length != 0">
    <table class="table">
      <tbody>
        <tr ng-repeat-start="item in dvm.uploader.queue">
          <td>
            @* we can render a thumb if it is html5 browser and an image file type *@
            <div ng-show="dvm.isImage(item.file.name) && dvm.uploader.isHTML5">
              <div ng-thumb="item._file" height="100"></div>
            </div>
            @* otherwise get an icon from the server *@
            <div ng-show="!(dvm.isImage(item.file.name) && dvm.uploader.isHTML5)">
              <img ng-src="{{dvm.thumbPath(item.file.name)}}" />
            </div>
          </td>
          <td>
            <div><strong>{{ item.file.name }}</strong></div>
            <div ng-show="dvm.uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</div>
          </td>
        </tr>
        <tr ng-repeat-end>
          <td colspan="2">
            <div class="form-group">
              <label for="inputtPayroll" class="col-sm-4 control-label">Category:</label>
              <div class="col-sm-8">
                <lookup-selector name="lnkFunction" lkp="teacherLinkTypes" ng-model="dvm.model.lnkFunction" />
              </div>
            </div>
            <div class="form-group">
              <label for="inputtPayroll" class="col-sm-4 control-label">Description:</label>
              <div class="col-sm-8">
                <input class="form-control" type="text" ng-model="dvm.model.docDescription" />
              </div>
            </div>
            <div class="form-group">
              <label for="inputtPayroll" class="col-sm-4 control-label">Source:</label>
              <div class="col-sm-8">
                <input class="form-control" type="text" ng-model="dvm.model.docSource" />
              </div>
            </div>

            <div class="form-group">
              <label for="inputtPayroll" class="col-sm-4 control-label">Tags:</label>
              <div class="col-sm-8">
                <input class="form-control" type="text" ng-model="dvm.model.docTags" />
              </div>
            </div>
            <div class="form-group">
              <label for="chkCurrentPortrait" class="col-sm-4 control-label">Current portrait:</label>
              <div class="col-sm-8">
                <input type="checkbox" name="chkCurrentPortrait" id="chkCurrentPortrait"
                       ng-model="dvm.model.isCurrentPhoto" ng-disabled="!(dvm.model.lnkFunction === 'PORTRAIT')" />
              </div>
            </div>
            <div>

               
            </div>
          </td>
        </tr>
      </tbody>
    </table>



  </div>
  <div style="position:absolute; top:50%;left:50%; margin-right:-50%; transform:translate(-50%,-50%)" ng-show="dvm.uploader.isUploading">
    Uploading {{vm.uploader.progress}}% <img src="assets/img/wait.gif" />
  </div>
</div>
@section actions {
  <div>
    <md-button class="md-raised md-primary" ng-click="dvm.uploader.uploadAll()" ng-disabled="(dvm.uploader.getNotUploadedItems().length === 0)" type="button" >
      <i class="fa fa-upload"></i> Upload
    </md-button>
    <md-button class="md-raised" ng-click="dvm.uploader.cancelAll()" ng-disabled="!dvm.uploader.isUploading" type="button" >
      <i class="fa fa-ban"></i> Cancel
    </md-button>
    <md-button class="md-raised md-warn" ng-click="dvm.uploader.clearQueue()" ng-disabled="!dvm.uploader.queue.length" type="button" >
      <i class="fa fa-minus-square"></i> Remove
    </md-button>
  </div>
}
