﻿@section icon {
  fa fa-graduation-cap
}

@section title {
  {{vm.isNew? 'New Exam': 'Exam: ' + vm.model.exCode + '(' + vm.model.exYear + ')'}}
}

<div class="appform">

  <md-tabs md-selected="vm.activeTab" md-dynamic-height md-border-bottom>

    @*<md-tab label="Dashboard" ng-disable="vm.isNew">
        <div class="row">
        </div>
      </uib-tab>*@

    <md-tab label="Exam Info">

      <div layout="column" class="md-inline-form">
        <md-content layout-padding>
          <div>
            <form name="vm.modelForm" ng-submit="vm.save()">
              @*novalidate class="form-custom-validation"*@

              <div layout-gt-xs="row">
                <h3>General Information</h3>
              </div>

              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Exam ID</label>
                  <input type="text" ng-model="vm.model.exID" ng-disabled="true" required />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Exam Code</label>
                  <input type="text" ng-model="vm.model.exCode" ng-disabled="!vm.isEditing" required />
                </md-input-container>
                </div>

              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Exam Year</label>
                  <input type="number" ng-model="vm.model.exYear" ng-disabled="!vm.isEditing" required />
                </md-input-container>

                @*<md-input-container class="md-block" flex-gt-sm>
                  <label>User</label>
                  <input type="text" ng-model="vm.model.exUser" ng-disabled="!vm.isEditing" />
                </md-input-container>*@

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Exam Date</label>
                  <md-datepicker ng-model="vm.model.exDate" md-placeholder="Enter date"></md-datepicker>
                </md-input-container>
              </div>              

              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Exam Candidates</label>
                  <input type="number" ng-model="vm.model.exCandidates" ng-disabled="!vm.isEditing" />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Exam Marks</label>
                  <input type="number" ng-model="vm.model.exMarks" ng-disabled="!vm.isEditing" />
                </md-input-container>
              </div>
              
              <div layout-gt-xs="row">
                <div class="alert alert-info alert-smaller" role="alert" typeof="info"><strong>Last Saved:</strong> {{vm.model.pEditUser}} {{vm.model.pEditDateTime | date:"dd MMM yyyy h:mm a"}}</div>
              </div>

            </form>
          </div>
        </md-content>
      </div>
    </md-tab>

    @*<md-tab label="Scorecards" ng-disable="!vm.model.Surveys.length">
      <component-scorecards-list scorecards="vm.model.Scorecards"></component-scorecards-list>
    </md-tab>
    
    <md-tab label="Documents">
      <component-teacher-links links="vm.model.Documents" teacher="vm.model"></component-teacher-links>
    </md-tab>*@

    <md-tab label="Reports">
      <report-list folder="Exam" context="{ExamID: vm.model.exID, ExamYear: vm.model.exYear}" set-params="vm.setReportParams(report, context,instanceInfo)"></report-list>
    </md-tab>

  </md-tabs>

  <img src="assets/img/wait.gif" style="position:absolute; top:50%;left:50%; margin-right:-50%; transform:translate(-50%,-50%)" ng-show="vm.isWaiting" />
</div>
