﻿<h4>Filter Dataset <i class="fa fa-question-circle"><md-tooltip md-direction="top">Only display data of interest</md-tooltip></i></h4>

@{
    Layout = null;
}

<md-input-container class="md-block" flex-gt-sm>
  <label>School No</label>
  <input ng-model="vm.params.SchoolNo" type="text" />
</md-input-container>

<md-input-container class="md-block" flex-gt-sm>
  <label>{{ "District" | vocab}}</label>
  <lookup-selector id="srchDistrict"
                   lkp="districts"
                   ng-model="vm.params.District"
                   ng-disabled="vm.findConfig.isLocked('District')">
  </lookup-selector>
</md-input-container>

<md-input-container class="md-block" flex-gt-sm>
  <label>Island</label>
  <lookup-selector id="srchIsland"
                   lkp="islands"
                   ng-model="vm.params.Island"
                   ng-disabled="vm.findConfig.isLocked('Island')">
  </lookup-selector>
</md-input-container>

<md-input-container class="md-block" flex-gt-sm>
  <label>Framework</label>
  <lookup-selector id="srchFrameworks"
                   lkp="paFrameworks"
                   ng-model="vm.params.SubScoreCode"
                   ng-disabled="vm.findConfig.isLocked('SubScoreCode')">
</md-input-container>

<md-input-container class="md-block" flex-gt-sm>
  <label>After</label>
  <md-datepicker ng-model="vm.params.StartDate"></md-datepicker>
</md-input-container>

<md-input-container class="md-block" flex-gt-sm>
  <label>Up to</label>
  <md-datepicker ng-model="vm.params.EndDate"></md-datepicker>
</md-input-container>

<section layout="row" layout-align="center center">
  <md-button class="md-raised" id="Reset" ng-click="vm.Reset()"><i class="fa fa-close"></i> Clear</md-button>
  <md-button class="md-raised md-primary" id="findNow" ng-click="vm.FindNow()"><i class="fa fa-filter"></i> Filter</md-button>
</section>
