﻿<div>

  <ol class="breadcrumb">
    <li><i class="fa fa-location-arrow"></i></li>
    <li>Schools Accreditations</li>
    <li>Dashboard</li>
  </ol>

  <div layout="row" layout-margin class="layout-margin-hack">
    <div flex="100">
      <panel panel-class="panel-primary"
             heading="School Accreditation Dashboard"
             panel-icon="fa fa-dashboard"
             panel-collapse="true">

        <h3>National School Accreditation Progress</h3>
        <img class="img-responsive" src="assets/img/temp-school-accreditations-progress-table.png" />
        <img class="img-responsive" src="assets/img/temp-school-accreditations-progress-chart.png" />

        <h3>National Standard Performance Percentages</h3>
        <img class="img-responsive" src="assets/img/temp-school-accreditations-standard-performance-table.png" />
        <img class="img-responsive" src="assets/img/temp-school-accreditations-standard-performance-chart.png" />

      </panel>
    </div>
  </div>

</div>
