﻿<div id="datadiv">

  <ol class="breadcrumb">
    <li><i class="fa fa-location-arrow"></i></li>
    <li>Schools</li>
    <li>Dashboard</li>
  </ol>

  <div layout="row" layout-margin class="layout-margin-hack">
    <div flex="100">
      <panel panel-class="panel-primary"
             heading="Schools Dashboard"
             panel-icon="fa fa-dashboard"
             panel-collapse="true">

        <h3>Current Number of Schools by Type</h3>
        <img class="img-responsive" src="assets/img/temp-current-number-of-schools-by-type-table.png" />
        <img class="img-responsive" src="assets/img/temp-current-number-of-schools-by-type-chart.png" />

      </panel>
    </div>
  </div>

</div>
