﻿@{
    Layout = null;
}

<!DOCTYPE html>

<div class="container searcher">
  <div class="col-md-11">
    <div class="col-md-2">
      <div class="form-group">
        <label for="srchNo">{{"School No" | vocab }}</label>
        <input id="srchNo" type="text" class="form-control" ng-model="vm.params.SchoolNo" />
      </div>

    </div>

    <div class="col-md-2">
      <div class="form-group">
        <label for="srchName">Name</label>
        <input id="srchName" type="text" class="form-control" ng-model="vm.params.SchoolName" />
      </div>
    </div>

    <div class="col-md-2">
      <div class="form-group">
        <label for="srchlistNames">Custom Lists</label>
        <lookup-selector id="srchlistNames"
                         lkp="listNames"
                         ng-model="vm.params.ListName"
        </lookup-selector>
      </div>
    </div>

    <div class="col-md-2">
      <div class="form-group">
        <label for="schClass">{{ "School Class" | vocab}}</label>
        <lookup-selector id="schClass"
                         lkp="schoolClasses"
                         ng-model="vm.params.SchoolClass"
                         ng-disabled="vm.findConfig.isLocked('SchoolClass')">
        </lookup-selector>

      </div>
    </div>

    <div class="col-md-2">
      <div class="form-group">
        <label for="schType">{{ "School Type" | vocab}}</label>
        <lookup-selector id="schType"
                         lkp="schoolTypes"
                         ng-model="vm.params.SchoolType"
                         ng-disabled="vm.findConfig.isLocked('SchoolType')">
        </lookup-selector>

      </div>
    </div>

    <div class="col-md-2">
      <div class="form-group">
        <label for="srchAuthorities">Authority</label>
        <lookup-selector id="srchAuthorities"
                         lkp="authorities"
                         ng-model="vm.params.Authority"
                         ng-disabled="vm.findConfig.isLocked('Authority')">
        </lookup-selector>

      </div>
    </div>

    <div class="col-md-2">
      <div class="form-group">
        <label for="srchDistrict">{{ "District" | vocab}}</label>
        <lookup-selector id="srchDistrict"
                         lkp="districts"
                         ng-model="vm.params.District"
                         ng-disabled="vm.findConfig.isLocked('District')">
        </lookup-selector>

      </div>
    </div>

    <div class="col-md-2">
      <div class="form-group">
        <label for="srchElectN">{{ "ElectorateN" | vocab}}</label>
        <lookup-selector id="srchElectN"
                         lkp="electoraten"
                         ng-model="vm.params.ElectorateN"
                         ng-disabled="vm.findConfig.isLocked('ElectorateN')">
        </lookup-selector>

      </div>
    </div>

    <div class="col-md-2">
      <div class="form-group">
        <label for="srchWards">{{ "ElectorateL" | vocab}}</label>
        <lookup-selector id="srchWards"
                         lkp="electoratel"
                         ng-model="vm.params.ElectorateL"
                         ng-disabled="vm.findConfig.isLocked('ElectorateL')">
        </lookup-selector>

      </div>
    </div>

  </div>
  <div class="col-md-1">

    <div class="form-group">
      <button class="btn btn-default findNow" id="findNow" ng-click="vm.FindNow()">
        Find
      </button>
    </div>
    <div class="form-group">
      <button id="Reset" class="btn clearSearch" ng-click="vm.Reset()">
        Clear
      </button>

    </div>
  </div>


</div>

