﻿@* teacher document List
*@
<div>
  <div>
    <table class="table table-condensed table-striped table-hover">

      <thead>
        <tr>
          <th class="colhdr">&nbsp;</th>
          <th class="colhdr gray-left-border">File Name</th>
          <th class="colhdr gray-left-border">Description</th>
          <th class="colhdr gray-left-border">Category</th>
          <th class="colhdr gray-left-border">Date</th>
          <th class="colhdr gray-left-border">Source</th>
          <th class="colhdr gray-left-border">Operations</th>
        </tr>
      </thead>

      <tbody>
        <tr data-ng-repeat="link in vm.links">
          <td><component-thumbnail document="link"></component-thumbnail></td>
          <td>{{link.docTitle}}</td>
          <td>{{link.docDescription}}</td>
          <td>{{link.lnkFunction}}</td>
          <td>{{link.docDate | date:"d MMM yyyy"}}</td>
          <td>{{link.docSource}}</td>
          <td>
            <md-button class="md-icon-button" ng-click="vm.doEdit(link, $event)">
              <md-tooltip>Edit details</md-tooltip>
              <md-icon class="material-icons md-24 md-dark">edit</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="vm.doDelete(link, $event)">
              <md-tooltip>Delete document</md-tooltip>
              <md-icon class="material-icons md-24 md-dark">clear</md-icon>
            </md-button>
          </td>
        </tr>
      </tbody>

    </table>
  </div>
  <div class="text-right">
    <md-button class="md-icon-button" ng-click="vm.newDoc()">
      <md-tooltip>Add document</md-tooltip>
      <md-icon class="material-icons md-24 md-dark">add</md-icon>
    </md-button>
  </div>
</div>