﻿<div>
  <form name="inputForm">
    @* INPUT_TYPE is a 'macro' in ui-grid it comes from 'type' on the columnDef*@
    <span>
      <input type="INPUT_TYPE"
             @* we get to the columnDef via colDef property of col
             - allow some extra definitions to come through here *@
             ng-maxlength="col.colDef.maxlength"
             @* a customising class *@
             class="grid-input"
             ng-class="'colt' + col.uid" ui-grid-editor ng-model="MODEL_COL_FIELD">
      <md-tooltip ng-if="col.colDef.description">{{col.colDef.description}}</md-tooltip>
    </span>
  </form>
</div>

