﻿<div layout="row" layout-align="center center" style="min-height: 70%">
  <md-card flex="flex" flex-gt-xs="60" flex-gt-sm="33" ng-controller="LoginController as vm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 class="">Welcome! Please Login</h2>
      </div>
    </md-toolbar>
    <md-card-content>
      <img src="asset/logo" width="150" />
      <form name="Form" ng-submit="vm.logIn(email, password, rememberMe)">
        <md-input-container class="md-block">
          <label>Login</label>
          <input type="text" id="email" placeholder="Account Name" ng-model="email" required />
          <div ng-messages="Form.email.$error" role="alert" multiple="">
              <div class="my-message" ng-message="required">You must supply a email.</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Password</label>
          <input type="password" id="password" placeholder="Password" ng-model="password" required />
          <div ng-messages="Form.password.$error" role="alert" multiple="">
              <div class="my-message" ng-message="required">You must supply a password.</div>
              <div class="my-message" ng-message="md-maxlength">Too short.</div>
            </div>
        </md-input-container>
        <i class="icon-spinner icon-spin icon-large"></i>
        <md-button class="md-raised md-primary" type="submit" ng-disabled="form.$invalid || loginInProcess">
          {{loginState}} <i class="fa fa-spinner spinning" ng-show="loginInProcess" aria-hidden="true"></i>
        </md-button>
      </form>
      <md-card-actions layout="row" layout-align="start center">
        <md-button ui-sref="forgotpassword">Forgot password?</md-button>
      </md-card-actions>
      <div class="text-danger">{{messageText}}</div>
    </md-card-content>
  </md-card>
</div>