﻿@* Refer to Master/MaterialDialogLayout.cshtml *@

@section icon {
  <i class="fa fa-exclamation-circle"></i>
}

@section title {
  <h3>Save Conflict</h3>
}

@section tools {
}

<p>The record you tried to update has been changed by {{vm.newVersion.pEditUser}} at {{vm.newVersion.pEditDateTime | date:'d MMM yyyy hh:mm'}}. You can either</p>
<ul>
  <li>Save your changes: overwrite the other user's changes with your own</li>
  <li>Load the other user's changes - the changes you have made will be lost</li>
</ul>

@section actions {
  <md-button class="md-raised md-primary" type="button" ng-click="vm.close('overwrite')">Save my changes - Overwrite</md-button>
  <md-button class="md-raised md-warn" type="button" ng-click="vm.close('discard')">Discard my changes - load new values</md-button>
  <md-button class="md-raised" type="button" ng-click="vm.cancel()">Cancel</md-button>
}