﻿@* Refer to Master/MaterialDialogLayout.cshtml *@

@section icon {
  <i class="fa fa-exclamation-circle"></i>
}

@section title {
  <h3>Duplicate Record</h3>
}

@section tools {
}

<p>A record with key</p>
<ul>
  <li>{{vm.id}}</li>
</ul>
<p>already exists.</p>

@section actions {
  <md-button class="md-raised" type="button" ng-click="vm.cancel()">Close</md-button>
}