﻿<div>

  <ol class="breadcrumb">
    <li><i class="fa fa-location-arrow"></i></li>
    <li>Indicators</li>
    <li>Primary</li>
  </ol>

  <div layout="row" layout-margin class="layout-margin-hack">
    <panel panel-class="panel-primary"
           panel-icon="fa fa-table"
           heading="Primary Education Indicators"
           panel-collapse="true"
           style="width:100%">

      <md-tabs md-dynamic-height md-border-bottom>

        <md-tab label="Data Grid">
          <p>Please select a start and end year to compare indicators over time</p>
          <table class="indicators table table-striped table-hover table-condensed" clickable="red-cell">
            <colgroup>
              <col width="25" />
              <col width="7" />
              <col width="6" />
              <col width="6" />
              <col width="6" />
              <col width="7" />
              <col width="6" />
              <col width="6" />
              <col width="6" />
              <col width="7" />
              <col width="6" />
              <col width="6" />
              <col width="6" />
            </colgroup>

            <thead class="ng-cloak">
              <tr class="rowhdr">
                <th class="colhdr sec no-top-border">Indicators</th>
                <th colspan="4" class="table-cell-smashed">
                  <select style="width:100%; color:#4b4b4b; font-size:14pt"
                          ng-options="year.C as year.N for year in vm.lookups.cache['surveyYears']"
                          ng-model="vm.baseYear"></select>
                </th>
                <th colspan="4" class="table-cell-smashed">
                  <select style="width:100%; color:#4b4b4b; font-size:14pt"
                          ng-options="year.C as year.N for year in vm.lookups.cache['surveyYears']"
                          ng-model="vm.selectedYear"></select>
                </th>
                <th class="text-center" colspan="4">Change {{vm.baseYear}} - {{vm.selectedYear}}</th>
              </tr>
              <tr class="rowhdr">
                <th class="colghdr sec gray-left-border no-top-border"></th>
                <th class="colghdr gray-left-border text-right" ng-repeat-start="i in [1,2,3]">Total</th>
                <th class="colghdr text-right">F</th>
                <th class="colghdr text-right">M</th>
                <th class="colghdr text-right" ng-repeat-end>F% <span class="alt-light">(GPI)</span></th>
              </tr>
            </thead>

            <tbody>
              <tr class="ng-cloak">
                <td colspan="13" class="grouphdr">Context Indicators</td>
              </tr>

              <tr class="ng-cloak">
                <td class="rowhdr sec">Years of schooling</td>
                <td>{{vm.baseYearData.YearsOfSchooling}}</td>
                <td colspan="3" class="na sec" />
                <td>{{vm.selectedYearData.YearsOfSchooling}}</td>
                <td colspan="3" class="na sec" />
                <td>{{vm.selectedYearData.YearsOfSchooling - vm.baseYearData.YearsOfSchooling}}</td>
                <td colspan="3" class="na sec" />

              </tr>
              <tr class="ng-cloak">
                <td class="rowhdr sec">Official Start Age</td>
                <td>{{vm.baseYearData.OfficialStartAge}}</td>
                <td colspan="3" class="na sec" />
                <td>{{vm.selectedYearData.OfficialStartAge}}</td>
                <td colspan="3" class="na sec" />
                <td>{{vm.selectedYearData.OfficialStartAge - vm.baseYearData.OfficialStartAge}}</td>
                <td colspan="3" class="na sec" />
              </tr>

              <tr class="ng-cloak">
                <td class="rowhdr sec">Number of Primary Schools</td>
                <td>{{vm.p.schoolCount(vm.baseYear, 'PS')}}</td>
                <td colspan="3" class="na sec" />
                <td>{{vm.p.schoolCount(vm.selectedYear, 'PS')}}</td>
                <td colspan="3" class="na sec" />
                <td>{{vm.p.schoolCount(vm.selectedYear, 'PS') - vm.p.schoolCount(vm.baseYear, 'PS')}}</td>
                <td colspan="3" class="na sec" />

              </tr>
              <tr class="ng-cloak">
                <td colspan="13" class="grouphdr">Demographic Indicators</td>
              </tr>
              <tr class="ng-cloak">
                <td class="rowhdr sec">Population (Est)</td>
                <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.baseYearData.Population[g]| percif :$last :0}}</td>
                <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.Population[g]| percif :$last :0}}</td>
                <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.Population[g] - vm.baseYearData.Population[g]| percif :$last :0}}</td>
              </tr>
              <tr class="ng-cloak">
                <td class="rowhdr sec">Enrolment</td>
                <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.baseYearData.Enrolment[g]| percif :$last :0}}</td>
                <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.Enrolment[g]| percif :$last :0}}</td>
                <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.Enrolment[g] - vm.baseYearData.Enrolment[g]| percif :$last :0}}</td>
              </tr>
              <tr class="ng-cloak">
                <td class="rowhdr sec">Official Age Enrolment</td>
                <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.baseYearData.NetEnrolment[g]| percif :$last :0}}</td>
                <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.NetEnrolment[g]| percif :$last :0}}</td>
                <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.NetEnrolment[g] - vm.baseYearData.NetEnrolment[g]| percif :$last :0}}</td>

              </tr>

              <tr class="ng-cloak">
                <td class="rowhdr sec">GER</td>
                <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.baseYearData.GER[g]| percif:!($last) :2 }}</td>
                <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.GER[g]|percif:!($last) :2 }}</td>
                <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.GER[g] - vm.baseYearData.GER[g]| percif:!($last) :2 }}</td>
              </tr>

              <tr class="ng-cloak">
                <td class="rowhdr sec">NER</td>
                <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.baseYearData.NER[g]| percif:!($last) :2 }}</td>
                <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.NER[g]| percif:!($last) :2 }}</td>
                <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.NER[g] - vm.baseYearData.NER[g]| percif:!($last) :2 }}</td>

              </tr>
              <tr class="ng-cloak">
                <td colspan="13" class="grouphdr">Quality Indicators</td>
              </tr>
              <tr class="ng-cloak">
                <td class="rowhdr sec">Number of Teachers</td>
                <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.baseYearData.Teachers[g]| percif :$last :0}}</td>
                <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.Teachers[g]| percif :$last :0}}</td>
                <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.Teachers[g] - vm.baseYearData.Teachers[g]| percif :$last :0}}</td>
              </tr>
              <tr class="ng-cloak">
                <td class="rowhdr sec">Certified</td>
                <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.baseYearData.TeachersCert[g]| percif :$last :0}}</td>
                <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.TeachersCert[g]| percif :$last :0}}</td>
                <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.TeachersCert[g] - vm.baseYearData.TeachersCert[g]| percif :$last :0}}</td>

              </tr>
              <tr class="ng-cloak">
                <td class="rowhdr sec">Certified %</td>
                <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.baseYearData.TeachersCertP[g]| percif :!($last) :2}}</td>
                <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.TeachersCertP[g]| number :2}}</td>
                <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.TeachersCertP[g] - vm.baseYearData.TeachersCertP[g]| percif :$last :0}}</td>


              </tr>
              <tr class="ng-cloak">
                <td class="rowhdr sec">Pupil/Teacher Ratio</td>

                <td>{{vm.baseYearData.PTR |number:1}}</td>
                <td colspan="3" class="na sec" />
                <td>{{vm.selectedYearData.PTR|number:1}}</td>
                <td colspan="3" class="na sec" />
                <td>{{vm.selectedYearData.PTR - vm.baseYearData.PTR|number:1}}</td>
                <td colspan="3" class="na sec" />
              </tr>
              <tr class="ng-cloak">
                <td colspan="13" class="grouphdr">Process Indicators</td>
              </tr>
              <tr class="ng-cloak">
                <td class="rowhdr sec">No of Repeaters</td>
                <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.baseYearData.Repeaters[g]| percif :$last :0}}</td>
                <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.Repeaters[g]| percif :$last :0}}</td>
                <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.Repeaters[g] - vm.baseYearData.Repeaters[g]| percif :$last :0}}</td>
              </tr>
              <tr class="ng-cloak">
                <td class="rowhdr sec">Repetition Rate</td>
                <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.baseYearData.RepRate[g]| percif:!($last) :2 }}</td>
                <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.RepRate[g]| percif:!($last) :2}}</td>
                <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.RepRate[g] - vm.baseYearData.RepRate[g]| percif:!($last) :2}}</td>
              </tr>
              <tr class="ng-cloak">
                <td class="rowhdr sec">Survival Rate to Year 4</td>
                <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.baseYearData.Survival4[g]| number :2 }}</td>
                <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.Survival4[g]| number :2}}</td>
                <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.Survival4[g] - vm.baseYearData.Survival4[g]| number :2}}</td>
              </tr>
              <tr class="ng-cloak">
                <td class="rowhdr sec">Survival Rate to Year 6</td>
                <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.baseYearData.Survival6[g]| number :2 }}</td>
                <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.Survival6[g]| number :2}}</td>
                <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.Survival6[g] - vm.baseYearData.Survival6[g]| number :2}}</td>

              </tr>
              <tr class="ng-cloak">
                <td class="rowhdr sec">Gross Intake Rate Year 6 (SDG 4.1.3)</td>
                <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.baseYearData.GIRLast[g]| number:2}}</td>
                <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.GIRLast[g]| number:2}}</td>
                <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.GIRLast[g] - vm.baseYearData.GIRLast[g]| number:2}}</td>
              </tr>
            </tbody>

          </table>
        </md-tab>

        <md-tab label="Historical Charts">
          <div class="row">
            <div class="col-md-12"><h2>Demographic Indicators</h2></div>
            <div class="col-xs-12 col-md-6">
              <chart indicators="vm" title="Population" chart-type="line" indicator="Population" meta="['Population (Male)', 'Population (Female)', 'Population (Total)']"></chart>
            </div>
            <div class="col-xs-12 col-md-6">
              <chart indicators="vm" title="Total Enrolment" chart-type="line" indicator="Enrolment" meta="['Enrol (Male)', 'Enrol (Female)', 'Enrol (Total)']"></chart>
            </div>
            <div class="col-xs-12 col-md-6">
              <chart indicators="vm" title="Net Enrolment Rate" chart-type="line"
                     value-format="0.0%" indicator="NER" meta="['NER (Male)', 'NER (Female)', 'NER (Total)']">
              </chart>
            </div>
            <div class="col-xs-12 col-md-6">
              <chart indicators="vm" title="Gross Enrolment Rate" chart-type="line"
                     value-format="0.0%" indicator="GER" meta="['GER (Male)', 'GER (Female)', 'GER (Total)']">
              </chart>
            </div>
            <div class="col-md-12"><h2>Quality Indicators</h2></div>
            <div class="col-xs-12 col-md-6">
              <chart indicators="vm" title="Teachers vs Certified Teachers" chart-type="line"
                     value-format="0.0%" indicator="TeachersCert" meta="['Teachers Certified (Male)', 'Teachers Certified (Female)', 'Teachers Certified (Total)']">
              </chart>
            </div>
            <div class="col-md-12"><h2>Process Indicators</h2></div>
            <div class="col-xs-12 col-md-6">
              <chart indicators="vm" title="Repeaters" chart-type="line" indicator="Repeaters" meta="['Repeaters (Male)', 'Repeaters (Female)', 'Repeaters (Total)']"></chart>
            </div>
            <div class="col-xs-12 col-md-6">
              <chart indicators="vm" title="Repeaters Rate" chart-type="line"
                     value-format="0.0%" indicator="RepRate" meta="['RepRate (Male)', 'RepRate (Female)', 'RepRate (Total)']">
              </chart>
            </div>
            <div class="col-md-12"><h2>Outcome Indicators</h2></div>
            <div class="col-xs-12 col-md-6">
              <chart indicators="vm" title="Survival4" chart-type="line"
                     value-format="0.0%" indicator="Survival4" meta="['Survival4 (Male)', 'Survival4 (Female)', 'Survival4 (Total)']">
              </chart>
            </div>
            <div class="col-xs-12 col-md-6">
              <chart indicators="vm" title="Survival6" chart-type="line"
                     value-format="0.0%" indicator="Survival6" meta="['Survival6 (Male)', 'Survival6 (Female)', 'Survival6 (Total)']">
              </chart>
            </div>
          </div>
        </md-tab>

      </md-tabs>

    </panel>
  </div>

</div>
