﻿<h4>Filter Dataset <i class="fa fa-question-circle"><md-tooltip md-direction="top">Only display data of interest</md-tooltip></i></h4>

<md-input-container class="md-block" flex-gt-sm>
  <label>Student Card ID</label>
  <input ng-model="vm.params.StudentCardID" type="text" />
</md-input-container>

<md-input-container class="md-block" flex-gt-sm>
  <label>Given Name</label>
  <input ng-model="vm.params.StudentGiven" type="text" />
</md-input-container>

<md-input-container class="md-block" flex-gt-sm>
  <label>Family Name</label>
  <input ng-model="vm.params.StudentFamilyName" type="text" />
</md-input-container>

<md-input-container class="md-block" flex-gt-sm>
  <label>Gender</label>
  <lookup-selector lkp="gender"
                   ng-model="vm.params.StudentGender"
                   ng-disabled="vm.findConfig.isLocked('StudentGender')">
</md-input-container>

<md-input-container class="md-block" flex-gt-sm>
  <label>Ethnicity</label>
  <lookup-selector lkp="ethnicities"
                   ng-model="vm.params.StudentEthnicity"
                   ng-disabled="vm.findConfig.isLocked('StudentEthnicity')">
  </lookup-selector>
</md-input-container>

<section layout="row" layout-align="center center">
  <md-button class="md-raised" id="Reset" ng-click="vm.Reset()"><i class="fa fa-close"></i> Clear</md-button>
  <md-button class="md-raised md-primary" id="findNow" ng-click="vm.FindNow()"><i class="fa fa-filter"></i> Filter</md-button>
</section>