﻿<div class="btn-group" uib-dropdown dropdown-append-to-body
     auto-close="outsideClick"
     is-open="status.isopen"
     on-toggle="paletteToggled(open)">
  <button id="btn-append-to-body" type="button" class="btn btn-primary" uib-dropdown-toggle>
    <img src="/assets/img/globe.png" /> <span class="caret"></span>
  </button>

  <div class="uib-dropdown-menu" style="background: rgba(0,0,0,.1)" is-open="status.isopen">
    <div>
      <div class="col-xs-2">
        Bands:
      </div>
      <div class="col-xs-8">
        <rzslider rz-slider-model="palette.bands"
                  rz-slider-floor="3"
                  rz-slider-ceil="12"
                  rz-slider-show-ticks="true"></rzslider>
      </div>
      <div class="col-xs-2">
        <button type="button" class="btn btn-primary" ng-model="palette.invert" uib-btn-checkbox>
          Invert
        </button>
      </div>
    </div>
    <div >
      <table class="table table-hover" role="menu">
        <tr ng-repeat="i in range(0,colorSchemes.length, 4)">
          <td ng-repeat-start="scheme in colorSchemes.slice(i, i + 4)"
              ng-class="{'success': scheme===palette.scheme}"
              ng-click="setScheme(scheme);"
              ng-dblclick="setScheme(scheme, true);"
              ng-show="showSchemeName">
            {{scheme}}
          </td>
          <td ng-repeat-end ng-click="setScheme(scheme);" ng-class="{'success': scheme===palette.scheme}">
            <span style="opacity: 1.0">
              <svg height="10" width="120" class="{{scheme}}">
                <g class="qMissing">
                  <rect fill-opacity="1" ng-repeat="i in range(0, palette.bands)" class="q{{palette.invert ? palette.bands - 1 - i: i}}-{{palette.bands}}" x="{{i * 10}}" y="0" height="10" width="10" />
                </g>
              </svg>
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
